<% include header %>

  <h1><%-title %></h1>
  <p>欢迎来到 <%-title %></p>
  <form  action="/api/upload_ppt" enctype="multipart/form-data" method="post">
    回调下载地址<input type="text" name="url"><br>
    <input type="file" name="ppt" multiple="multiple"><br>
    <input type="submit" value="Upload">
  </form>
<% include footer %>
